html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    width: 100%;
}

header div {
    margin-left: 5rem;
    margin-right: 5rem;
}

.letras-header {
    text-decoration: none;
    color: white;
    font-family: Calibri;
    font-style: normal;
    font-weight: 800;
}

.letras-header:hover {
    color: darkgrey;
}

.contenedor-items-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem 0 1.5rem;
}

#desplegableLigas {
    margin: 0 1rem 0 0;
}

#logo-principal {
    margin-left: 1rem;
}

#barrabusqueda {
    padding: 0.5rem 10rem 0.5rem 10rem;
}

#buscador input.search {
    border-radius: 1rem;
    outline: none;
    color: darkgrey;
    border: 0.2rem solid #FF8210;
}

.iniciosesion {
    margin: 0 0 0 0;
}

#container-sesion {
    display: flex;
    margin: 0 2rem 0 2rem;
    align-items: center;
}

.letras-sesion {
    margin: 0 1rem 0 0;
}

.logo-sesion {
    margin: 0 0 0 0;
}

#carrito {
    margin: 0 0 0 1.5rem;
}

.inicio-sesion-carrito {
    display: flex;
    margin-right: 0;
}

main {
    display: flex;
    justify-content: center;
}