html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: Calibri;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

header div {
    margin-left: 5rem;
    margin-right: 5rem;
}

.contenedor-items-header {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: auto;
}

.letras-header {
    font-style: normal;
    font-weight: 800;
}

.separador-nav {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#superior-menu {
    height: 10rem;
    width: auto;
}

#navegadorLigas {
    margin: 0;
    padding: 0;
    height: 3rem;
}

#logo-principal {
    margin: 0;
    padding: 0;
}

#barrabusqueda {
    padding: 0.5rem 10rem 0.5rem 10rem;
}

#buscador input.search {
    outline: none;
    color: darkgrey;
    border: 0.2rem solid #FF8210;
    border-right-color: white;
    border-radius: 1rem 0rem 0rem 1rem;
}

#buscador {
    margin: auto;
    padding: 0 30rem 0 30rem;
    display: flex;
}

#boton-buscar {
    padding: 1rem 1rem;
    background: white;
    border: 0.2rem solid #FF8210;
    cursor:pointer;
    border-left-color: white;
    margin-left: -1rem;
    border-radius: 0rem 1rem 1rem 0rem;
}

/**------------------------------------------------------------------------------------**/
/**ACTUALIZACION DESPLEGABLE MENU INICIO DE SESION CON JQUERY**/

.inicio-sesion-carrito {
    display: flex;
    margin-right: 0;
    margin-left: 5rem;
}
/**
#btn-usuario-not-logged {
    display: initial;
}
**/

#btn-usuario-logged {
    display: initial;
}


#btn-usuario ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#btn-usuario a {
    display: block;
    color: white;
    width: 10rem;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

#icono-usuario:hover {
    background-color: grey;
}

#toggle-post-ini {
    position: absolute;
    display: none;
}

#toggle-post-ini a {
    background-color: #FF8210;
}

#toggle-post-ini a:hover {
    background-color: #ffa365;
}

/**------------------------------------------------------------------------------------**/
/**ACTUALIZACION CARRITO**/
#carrito {
    display: initial;
}


#btn-carrito ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#btn-carrito a {
    display: block;
    color: white;
    width: 10rem;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}


#cestaVacia
{
    background-color:white;
    text-align: center;    
    position:fixed;
    left:136.5rem;
    visibility: hidden;
}


#toggle-post-ini-carro {
    position: absolute;
    display: none;
}

#toggle-post-ini-carro a {
    background-color: #FF8210;
}

/**
#toggle-post-ini-carro a:hover {
    background-color: #ffa365;
}
**/
#carro-tramitar:hover, #carro-vaciar:hover{
 background-color: #ffa365;
}

/**------------------------------------------------------------------------------------**/

#carrito {
    margin: 0 0 0 1.5rem;
}

#carrito:hover {
    
    border-radius: 1rem;
}

/**------------------------------------------------------------------------------------**/
/**MENU DESPLEGABLE LIGAS CON JQUERY**/

#menu-desplegable-ligas a {
    display: block;
    width: 15rem;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    background-color: black;
}

#menu-desplegable-ligas a:hover {
    background-color: #FF8210;
}

#menu-desplegable-ligas>ul>li>ul>li {
    position: relative;
}

#menu-desplegable-ligas>ul>li>ul>li>a:hover {
    background: #171717;
    color: white;
}

#menu-desplegable-ligas ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#menu-desplegable-ligas>ul>li>ul {
    display: none;
}

#contenedores-ligas {
    display: flex;
}

/**------------------------------------------------------------------------------------**/

main {
    display: flex;
    justify-content: center;
}

.titulos {
    background-color: black;
    text-align: center;
}

.titulos h1 {
    color: white;
    padding: 1rem 0rem;
}

.superclasico {
    margin-left: 10rem;
}


.contenedor-links-categorias {
    display: grid;
    /* display: flex; */
    /* justify-content: space-between; */
    /* margin-top: 5rem; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
}

.contenedor-links-camisetas {
    display: flex;
    justify-content: space-between;
}

.contenedor-top {
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 0.2rem solid white;
    border-radius: 1rem;
    background-color: white;
    padding: 2rem 0;
    height: 25rem;
    width: 25rem;
    margin: 0rem 7rem;
    margin-bottom: 3rem;
}

.contenedor-top:hover {
    box-shadow: 0rem 0rem 2rem 0.5rem #999999;
    transform: scale(1.05);
    cursor: pointer;
}

.foto-liga img {
    border-radius: 1rem;
    border: 0.2rem solid white;
}

.letras-liga {
    margin: 1rem 1rem 0rem 1rem;
    color: black;
}

.foto-camiseta img {
    border-radius: 1rem;
    border: 0.2rem solid white;
}

.letras-camiseta {
    margin: 1rem 1rem 0rem 1rem;
    color: black;
}

footer {
    display: block;
    background-color: black;
    color: white;
    margin-top: 5rem;
    text-align: center;
}

#redesSociales{
    display:flex;
    justify-content: center;

}

.labelRedSocial{
    text-decoration: none;
    color: white

}
.contenedor-redessociales{
    padding: 0rem 1rem 0rem 1rem; 
    
    
}

.contenedor-redessociales:hover{
    transform: scale(1.05);
    cursor:pointer;

}

#extrasFooter{
    display:flex;
    justify-content: center;
}

.contenedor-extras{
    padding: 0rem 2rem 2rem 2rem;
}

.newletter {
    padding: 3rem 0rem 2rem 0rem;
}

.redes {
    padding: 3rem 0rem 2rem 10rem;
}

#inputMail{
    border-radius: 1rem;
    outline: none;
    color: black;
    border: 0.2rem solid #FF8210;
    width: 35rem;
    height: 2.3rem;
}

#inputSuscribirse{
    border-radius: 1rem;
    outline: none;
    color: black;
    border: 0.2rem solid #FF8210;
    height: 2.9rem;
    font-weight:800;

}

#inputSuscribirse:hover{
    color: white;
    background-color:#FF8210;
    cursor:pointer;
}

.letras-extras:hover{
    color:#FF8210;
    cursor:pointer;
}

#contenedorMail{
    display:flex;
    justify-content:center;
}
#contenedor-newLetter-redesSociales{
    display:flex;
    justify-content:center;
}


@media screen and (max-width: 1660px){
    #buscador {
        padding: 0 10rem;
    }
    #contenidoPrincipal {
        width: 90%;
    }
    a>img {
        max-width: 100%;
    }
    .superclasico {
        margin-left: 0rem;
    }
    .contenedor-links-camisetas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .contenedor-links-categorias {
        margin-left: -4rem;
    }
    footer {
        max-width: inherit;
    }
    #cestaVacia {
        margin-left: -45rem;
    }
}