html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: Calibri;
    background-color: #FF8210;
    color: black;
}

html, body {
    margin: 5rem 10rem;
    padding: 0;
}

form {
    width: auto;
    height: auto;
    background: white;
    border-radius: 2rem;
    box-shadow: 0rem 1rem 3rem 0.2rem #000;
    margin: auto;
    padding: 2rem 2rem;
    box-sizing:border-box;
    text-align: center;
    position: relative;
}

.contenedor-formulario {
    align-items: center;
    justify-content: center;
    text-align: center;
}

legend img {
    margin: 0 16rem;
}

.logo-form img {
    width: 15rem;
    height: 15rem;
}

.labelCrea{
font-weight:800;
font-size: 170%;
}

.divCrea{
padding-bottom: 4%;
}



.registro2{
border-style:hidden;
border-top-style:solid;
}

.labelDatos{
text-align:left;
font-size:120%;
font-weight: 800;
padding-left:1%;
padding-right:1%;

}
.datosAcceso{
display:flex;
text-align:left;
}

.registro2{
padding-top:2.5%;
}

.registro3{
padding-top:2.5%;
}
.correoRegistro{
padding-right:29.1%;
}

.divCampos{
padding-top:4%;

}
#inputEmail{
width:200%;
}


.confirmaContraseña{
padding-top:0%;
}

.divConfirma{
padding-top:4%;
}

.registro3{
border-style:hidden;
border-top-style:solid;
}

.contenedorNombres{
display:flex;
text-align:left;
}


.nombreApellido{
    padding-right:32%;
}

.ApellidoTelefono {
    display: flex;
    flex-direction: column;
}

.campos{
    width: 245%;
    padding: 1rem 0.5rem;
    margin: 0 0 3rem 0;
    box-sizing: border-box;
    border: 0.1rem solid #FF8210;
    background-color: white;
    outline: none;
}

input[type=submit] {
    background-color: white;
    border: 0.1rem solid #FF8210;
    color: black;
    padding: 1rem 1rem;
    margin: 4rem 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem 0.5rem;
}

input[type=submit]:hover {
    background-color: #FF8210; /* Green */
    color: white;
}

#registrarse a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}