html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: Calibri;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
}


header div {
    margin-left: 5rem;
    margin-right: 5rem;
}

.contenedor-items-header {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: auto;
}

.letras-header {
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 800;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.letras-header:hover {
    color: #FF8210;
}

.separador-nav {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#superior-menu {
    height: 10rem;
    width: auto;
}

#navegadorLigas {
    margin: 0;
    padding: 0;
    height: 3rem;
}

#logo-principal {
    margin: 0;
    padding: 0;
}

#barrabusqueda {
    padding: 0.5rem 10rem 0.5rem 10rem;
}

#buscador input.search {
    border-radius: 1rem;
    outline: none;
    color: darkgrey;
    border: 0.2rem solid #FF8210;
}

#buscador {
    margin: auto;
    padding: 0 30rem 0 30rem;
}

/**------------------------------------------------------------------------------------**/
/**ACTUALIZACION DESPLEGABLE MENU INICIO DE SESION CON JQUERY**/

.inicio-sesion-carrito {
    display: flex;
    margin-right: 0;
    margin-left: 5rem;
}
/**
#btn-usuario-not-logged {
    display: initial;
}
**/

#btn-usuario-logged {
    display: initial;
}


#btn-usuario ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#btn-usuario a {
    display: block;
    color: white;
    width: 10rem;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

#icono-usuario:hover {
    background-color: grey;
}

#toggle-post-ini {
    position: absolute;
    display: none;
}

#toggle-post-ini a {
    background-color: #FF8210;
}

#toggle-post-ini a:hover {
    background-color: #ffa365;
}

#carrito {
    margin: 0 0 0 1.5rem;
}

#carrito:hover {
    background: #FF8210;
    border-radius: 1rem;
}

/**------------------------------------------------------------------------------------**/

#desplegableLigas {
    margin: 0;
}

#desplegableLigas nav {
    display: inline;
}

#navegadorLigas ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

#navegadorLigas ul li {
    padding: 1rem 2rem;
    text-align: center;
}

.seleccion-liga a:hover {
    color: white;
}

.seleccion-liga:hover {
    background-color: #FF8210;
}

main {
    display: flex;
    justify-content: center;
}

.titulos {
    background-color: black;
    text-align: center;
}

.titulos h1 {
    color: white;
    padding: 1rem 0rem;
}

.contenedor-links-camisetas {
    display: flex;
    justify-content: space-between;
}

.contenedor-top {
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 0.2rem solid white;
    border-radius: 1rem;
    background-color: white;
    padding: 2rem 0;
    height: 25rem;
    width: 25rem;
}

.contenedor-top:hover {
    box-shadow: 0rem 0rem 2rem 0.5rem #999999;
    transform: scale(1.05);
}

.foto-camiseta img {
    border-radius: 1rem;
    border: 0.2rem solid white;
}

.letras-camiseta {
    margin: 1rem 1rem 0rem 1rem;
    color: black;
}

footer {
    display: block;
    background-color: black;
    color: white;
    margin-top: 5rem;
    text-align: center;
}

#redesSociales{
    display:flex;
    justify-content: center;

}

.labelRedSocial{
    text-decoration: none;
    color: white

}
.contenedor-redessociales{
    padding: 0rem 1rem 0rem 1rem; 
    
    
}

.contenedor-redessociales:hover{
    transform: scale(1.05);
    cursor:pointer;

}

#extrasFooter{
    display:flex;
    justify-content: center;
}

.contenedor-extras{
    padding: 0rem 2rem 2rem 2rem;
}

.newletter {
    padding: 3rem 0rem 2rem 0rem;
}

.redes {
    padding: 3rem 0rem 2rem 10rem;
}

#inputMail{
    border-radius: 1rem;
    outline: none;
    color: dark;
    border: 0.2rem solid #FF8210;
    width: 35rem;
    height: 2.3rem;
}

#inputSuscribirse{
    border-radius: 1rem;
    outline: none;
    color: dark;
    border: 0.2rem solid #FF8210;
    height: 2.9rem;
    font-weight:800;

}

#inputSuscribirse:hover{
    color: white;
    background-color:#FF8210;
    cursor:pointer;
}

.letras-extras:hover{
    color:#FF8210;
    cursor:pointer;
}

#contenedorMail{
    display:flex;
    justify-content:center;
}
#contenedor-newLetter-redesSociales{
    display:flex;
    justify-content:center;
}


